{% extends 'base.html' %}

{% block content %}
    <section class="login-page">
      {% if form.errors %}

        <div class="alert alert-warning
        alert-dismissible fade show" role="alert">
              There was an error with your form...
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
              </div>

      {% endif %}
      <h2>Załóż konto</h2>

        <div class="form-group" style="margin-left: 800px;">
          <form method="POST">
                {% csrf_token %}
            {{ form.as_p }}
            <!--{{ form.username.label }}
            {{ form.username }}

            {{ form.email.label }}
            {{ form.email }}

            {{ form.password1.label }}
            {{ form.password1 }}

            {{ form.password2.label }}
            {{ form.password2 }}-->

            <input type="submit" value="Załóż konto">
          </form>
        </div>
      </form>


    </section>
{% endblock %}
